*
!rapidxml/
!rapidxml/*.hpp
!shijima/
!shijima/*.cc
!shijima/*.hpp
!shijima/action/
!shijima/action/*.cc
!shijima/action/*.hpp
!shijima/mascot/
!shijima/mascot/*.cc
!shijima/mascot/*.hpp
!shijima/scripting/
!shijima/scripting/*.cc
!shijima/scripting/*.hpp
!shijima/scripting/duktape/
!shijima/scripting/duktape/*.h
!shijima/scripting/duktape/*.cc
!tests/
!tests/shimeji/
!tests/shimeji/*/
!tests/shimeji/*/actions.xml
!tests/shimeji/*/behaviors.xml
!tests/parser_test.cc
!.gitignore
!CMakeLists.txt
!main.cc
!README.md
!.gitattributes